html{
    overflow-x: hidden;
}
body{
    font-family: 'Dosis', sans-serif;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2rem;
}
.navbar-nav .nav-item a i{
    color: black;
    font-size: 1.2rem;
}
.navbar-nav .nav-item a:hover{
    text-shadow: 0px 0px 1px black;
}
#queue{
    border-left: 2px solid lightgrey;
    padding: 1.2rem;
}
#divv{
    height: 520px;
    padding: 0.5rem;
    overflow-y:auto;
}
#divv ul li img{
    height: 4rem;
    width: auto;
}

#divv ul li .qshadow:hover{
    transform: scale(1.1);
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.play-icon{
    position: absolute;
    border: 0px;
    background: rgba(0,0,0,0);
    font-size: 1.5rem;
    left: 19.5%;
    top: 18.5%;
    color: rgba(255,255,255,0.95);
}
.qshadow button{
    display: none;
}
.qshadow:hover button{
    display: block;
}
.play-icon:focus{
    outline: none;
}
.play{
    position: relative;
    left: -13.5%;
    border: 0px;
    background: rgba(0,0,0,0);
    font-size: 1.5rem;
    color: rgba(255,255,255,0.95);
    left: -59%;
}
.play:focus{
    outline: none;
}
#latestReleases .latest:hover{
    box-shadow: 0px 0px 5px black;
    transform: scale(1.1);
}
#latestReleases .latest button{
    display: none;
}
#latestReleases .latest:hover button{
    display: block;
}
#play-bar{
    position: sticky;
    bottom: 0%;
    width: 100%;
    display: none;
}
#play-bar .bar-slider i{
    margin: 1rem;
}
#play-bar .bar-slider #slider{
    margin-left: 2.2rem;
    margin-right: 0rem;
}
#play-bar .bar-slider #slider input{
    margin-left: 0rem;
    margin-right: 0rem;
}
#play-bar ul li img{
    width: 5rem;
    height: auto;
}
#play-bar #play-name{
    list-style: none;
    font-weight: 400;
    padding-left: 0rem;
}
#play-bar #play-name{
    display: flex;
}
#play-bar .bar-right i{
    margin: 0.5rem;
}
.Banner{
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-left: 1rem;
}
.Banner .mySlides{
    width: 25%;
    height: auto;
    margin: 1rem;
    margin-left: 3rem;
}
.Banner .mySlides img{
    margin: 10%;
}
.Banner .mySlides img:hover{
    box-shadow: 0px 0px 4px black;
    transform: scale(1.2);
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.Banner1{
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-left: 1rem;
}
.Banner1 .mySlides1{
    width: 25%;
    height: auto;
    margin: 1rem;
    margin-left: 6.23%;
    margin-right: 4.8%;
    justify-content: around;
}
.Banner1 .mySlides1 img{
    border-radius: 50%;
    margin: -5%;
    transform: scale(0.7);
}
.Banner1 .mySlides1 img:hover{
    box-shadow: 0px 0px 4px black;
    transform: scale(0.8);
}

/* Hide the images by default */
.mySlides1 {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.dot1 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot1:hover {
    background-color: #717171;
}
#latestReleases{
    max-width: 62rem;
    border-radius: 5px;
}
@media (min-width: 768px) 
{
    #phonequeue
    {
        display: none;
    }
    #album{
        margin-left: 0.8rem;
        margin-top: 0.5rem;
    }
    .card-body .card-title{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
    .card-body .card-text{
        font-size: 0.7rem;
        
    }
}
@media (min-width: 992px) 
{
    .card-body .card-title{
        font-size: 1.25rem;
        margin-top: 0rem;
    }
    .card-body .card-text{
        font-size: 1rem;
    }
    #album{
        margin-top: 0.2rem;
    }
}
@media (max-width: 767px) 
{
    #queue{
        padding: 0rem 2rem;
        margin-top: 3rem;
    }
    .card-body{
        margin-left: 1.5rem;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d1d1d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}